<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quotation3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C744E8491E80184C00DE2E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C744E85D1E80184D00DE2E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C744E8681E80184D00DE2E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
