<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Alice Alianz</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>strava</string>
		<string>gcm-ciq</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>bluemix.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>I would like to access your personal card</string>
	<key>NSHealthShareUsageDescription</key>
	<string>In order to estimate your curent health we need to read your health data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>I would like to know what is going on with you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>I would like to have a conversation with you</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition will be used to determine which words you speak into this device's microphone.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Trenda-Black.otf</string>
		<string>fonts/Trenda-BlackIt.otf</string>
		<string>fonts/Trenda-Bold.otf</string>
		<string>fonts/Trenda-BoldIt.otf</string>
		<string>fonts/Trenda-ExtraLight.otf</string>
		<string>fonts/Trenda-ExtraLightIt.otf</string>
		<string>fonts/Trenda-Heavy.otf</string>
		<string>fonts/Trenda-HeavyIt.otf</string>
		<string>fonts/Trenda-Light.otf</string>
		<string>fonts/Trenda-LightIt.otf</string>
		<string>fonts/Trenda-Regular.otf</string>
		<string>fonts/Trenda-RegularIt.otf</string>
		<string>fonts/Trenda-Semibold.otf</string>
		<string>fonts/Trenda-SemiboldIt.otf</string>
		<string>fonts/Trenda-Thin.otf</string>
		<string>fonts/Trenda-ThinIt.otf</string>
		<string>fonts/isidora-light.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
